<div>
  <!--Seelct following items:-->
  <!--<input id="buttonA" class="treeItem" type="checkbox" />&nbsp;Scott Aasrud-->
  <!--<input id="buttonB" class="treeItem" type="checkbox" />&nbsp;Ted Lucas-->
  <!--<input id="buttonC" class="treeItem" type="checkbox" />&nbsp;Joao Stuger-->
  <div id="message"></div>
  <div id="basicdiagram" style="width: auto; height: 800px; top: 60px; border-style: dotted; border-width: 1px;" />
</div>

<div id="panel">
  <br>
  <input name="buttonsingle" type="button" value="Click to select single item" />
  <br>
  <input name="buttonmultiple" type="button" value="Click to check multiple items" />
  <div>
    <div name="orgchartform" class="dialog-form" style="overflow: hidden;">
      <div name="orgchart" class="bp-item" style="overflow: hidden; padding: 0px; margin: 0px; border: 0px;"></div>
    </div>
  </div>
  <p name="message"></p>
</div>