/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */
body {
    margin: 2em;
    background-color: gainsboro;
    padding-top: 1em;
    padding-right: 30px;
    padding-left: 20px;
    padding-bottom: 30;
    font-family: helvetica;
    font-size: 12px;
    line-height: 18px;
    box-shadow: 1 2px 3px rgba(0,0,0,.1);
}

header {
    padding-top: 1px;
}

header img{
    padding: 10px;
    background: #ffffff;
}

footer {
    text-align: center;
    margin-top: 10px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
footer nav{
    float: none;
}

.container{
    width: 1280px;
}

.user{
    background-color: chartreuse;
    text-decoration: underline;
    font-size: 120%;
}
section{
    margin-top: 1em;
    font-size: 120%;
    padding: 20px;
    background-color: #ffffff;
}

section h1{
    font-size: 200;
}

nav{
    float: right;
    background-color: #ffffff;
    padding: 0,0,7em;
    white-space: nowrap;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0, 2em, 0;
}

nav ul li a{
    padding: 0 5px;
    font-weight: bold;
    &:visited {
    color: #0099cc;
    }
}


table td, table th {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-collapse: collapse;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}


p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a {
    color: #0099cc;
    text-decoration: none;
&:visited {
    color: #006699;
}
&:hover {
    color: #006699;
    text-decoration: underline;
}
    }

a.button {
    display: block;
    text-align: center;
    width: 120px;
    height: 20px;
    color: #ffffff;
    background-color: #006400;
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
&:hover {
    background-color: chartreuse;
    text-decoration: underline;
}
    }
a.timeline_button {
    display: table;
    text-align: center;
    width: 100px;
    height: 20px;
    color: #ffffff;
    background-color: #006400;
    font-size: small;
    font-weight: bold;
    padding: 15px;
&:hover {
    background-color: chartreuse;
    text-decoration: underline;
}
    }

a.sign_up_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 190px;
    color: #ffffff;
    background-color: #006400;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
&:hover {
    background-color: chartreuse;
    text-decoration: underline;
}
    }
.round{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
div {
&.field, &.actions {
    margin-bottom: 10px;
}
    }

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error{
    width: 250px;
    border: 2px solid red;
    color: red;
    padding: 7px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}
#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
    }
}
ul li {
    font-size: 12px;
    list-style: square;
}

h1.user_info{
    font-size: 30px;
}

ul.users{
    margin-top: 1em;
}

ul.users li{
    list-style: none;
}

table.profile{
    width: 100%;
    margin-bottom: 0;
}
td.main{
    width: 70%;
    padding: 1em;
}
td.sidebar{
    width: 30%;
    padding: 1em;
    vertical-align: top;
    background-color: #ffffcc;
}

.gravatar {
    margin-left: 1.5em;
}

h1.micropost{
    margin-bottom: 0.3em;
}

table.microposts{
    margin-top: 1em;
    margin-left: 2em;
}
table.microposts tr{
    height: 70px;
}
table.microposts tr td.gravatar{
    border-top: 1px solid #cccccc;
    vertical-align: top;
    width: 50px;
}
table.microposts tr td.micropost{
    border-top: 1px solid #cccccc;
    vertical-align: top;
    padding-top: 10px;
}
table.microposts tr td.micropost span.timestamp{
    display: block;
    font-size: 85%;
    color: #666666;
}

div.user_info img{
 padding-right: 0.1em;
}

div.user_info a{
    text-decoration: none;
}
div.user_info span.user_name{
    position: absolute;
}
div.user_info span.microposts{
    font-size:  80%;
}

form.new_micropost{
    margin-bottom: 2em;
}

form.new_micropost textarea{
    height: 4em;
    margin-bottom: 0;
}